{
    "useTabs": false,
    "tabWidth": 2,
    "printWidth": 80,
    "singleQuote": true,
    "trailingComma": "es5",
    "semi": true,
    "bracketSpacing":true,
    "single-quote": true,
    "arrowParens": "always"
  }
